/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set basic styles */
  body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .logo img {
    max-width: 100px;
  }
  
  h1 {
    font-family: 'Sonsie One', cursive;
    font-size: 36px;
    margin-top: 10px;
  }
  
  nav {
    background-color: rgba(68, 68, 68, 0.8); /* Cor de fundo inicial com transparência */
    padding: 10px 0;
    position: fixed; /* Torna a navbar fixa */
    width: 100%; /* Ocupa toda a largura da tela */
    top: 0; /* Fixa a navbar no topo */
    z-index: 1000; /* Garante que a navbar esteja acima de outros elementos */
    transition: background-color 0.3s ease; /* Efeito de transição suave */
  }
  
  nav.navbar-transparent {
    background-color: rgba(68, 68, 68, 0); /* Cor de fundo transparente ao rolar */
  }
  
  nav ul {
    list-style-type: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #ffd700;
  }
  
  main {
    padding-top: 70px; /* Ajusta o padding do conteúdo principal para evitar sobreposição com a navbar */
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  section {
    padding: 40px 0;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .image-container {
    text-align: center;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    max-height: calc(100vh - 70px); /* Ajusta a altura máxima da imagem para preencher a tela visível, subtraindo a altura da navbar */
    object-fit: cover; /* Faz a imagem preencher o espaço do contêiner, mantendo a proporção */
  }
  
  .about p, .contact p {
    font-size: 18px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  