/* Resetar margem e padding padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos básicos */
  body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: #cdcdcd; /* Light gray background */
    color: #000; /* Text color */
  }
  
  /* Estilos para o cabeçalho */
  header {
    background-color: #222; /* Dark gray background */
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  /* Estilos para a barra de navegação */
  nav {
    background-color: rgba(68, 68, 68, 0.8);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
  }
  
  /* Estilos para a lista de itens da navegação */
  nav ul {
    list-style-type: none;
    text-align: center;
  }
  
  /* Estilos para cada item da lista de navegação */
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  /* Estilos para os links da navegação */
  nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  /* Estilos para os links da navegação quando passa o mouse */
  nav ul li a:hover {
    color: #ffd700;
  }
  
  /* Estilos para o conteúdo principal */
  main {
    padding-top: 100px;
  }
  
  /* Estilos para o contêiner principal */
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  /* Estilos para as seções */
  section {
    padding: 40px 0;
  }
  
  /* Estilos para os títulos secundários */
  h2 {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Estilos para os parágrafos */
  p {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  /* Estilos para as camisas */
  .jersey-list {
    display: flex;
    justify-content: space-around;
  }
  
  .jersey {
    width: 45%; /* Ajusta a largura para caber duas camisas */
    padding: 20px;
    background-color: #fff; /* White background */
    border-radius: 5px;
    text-align: center;
  }
  
  .jersey img {
    max-width: 30%;
    height: auto;
    border-radius: 5px;
  }
  
  /* Estilos para os botões */
  button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Estilos para as opções de tamanho */
  .size-options {
    margin-top: 10px;
  }
  
